{% extends "base.html"%}

{% block content %}
<div class="container mt-5 mb-5">
    <h3 class="mb-3">Venez reserver vos vaccances chez luxe Agency la meilleur agence</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://thumbs.dreamstime.com/b/entr%C3%A9e-d-h%C3%B4tel-de-luxe-3245636.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Verly Hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-warning">Visitez</a>
                  <a href="#" class="btn btn-success">Reservez</a>

                </div>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/903417402/fr/photo/construction-de-luxe-avec-piscine-au-coucher-du-soleil.jpg?s=612x612&w=0&k=20&c=LJyrU0DEzhW3Dp_gfsTUhz72MRcrnT7DbIWs9fF9zz8=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hotel Foula Palas</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-warning">Visitez</a>
                  <a href="#" class="btn btn-success">Reservez</a>
                </div>
              </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://img.freepik.com/photos-gratuite/belle-piscine-exterieure-luxe-dans-hotel-complexe_74190-7433.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hotel de Dolisie</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-warning">Visitez</a>
                  <a href="#" class="btn btn-success">Reservez</a>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}