{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-5 mb-5 shadow">
        <div class="col-lg-6 shadow p-4">
            <h3>Créer votreCompte</h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputText1">Prénom </label>
                    <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                    
                </div>

                <div class="form-group">
                    <label for="exampleInputText1">Nom </label>
                    <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                    
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Adresse Email </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">Nous n'allons jamais partager votre Email.</small>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de Passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Repetez votre Mot Passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Selectionnez</label>
                </div>
                <button type="submit" class="btn btn-primary">Créez votre Compte</button>
              </form>
        </div>
        <div class="col-lg-6">
            <img src="https://img.freepik.com/photos-gratuite/belle-piscine-exterieure-luxe-dans-hotel-complexe_74190-7433.jpg" alt="" class="img-fluid img-reponsive">
        </div>
    </div>
</div>
{% endblock %}